@model ML.Paquete
@{
    Layout = null;
}

<!doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Resumen de Compra</title>
    <meta name="description" content="Resumen de la compra">
    <style type="text/css">
        a:hover {
            text-decoration: underline !important;
        }
    </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Detalle</th>
                <th scope="col">Peso</th>
                <th scope="col">Dirrecion de destino </th>
                <th scope="col">Dirrecion de origen  </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@Model.Detalle</th>
                <td>@Model.Peso</td>
                <td>@Model.DirrecionEntrega</td>
                <td>@Model.DirrecionOrigen</td>
                
            </tr>

        </tbody>
    </table>

</body>

</html>
